@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
/*font-family: "BBH Sans Bartle", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.app{
  min-height: 100vh;
  display: grid;
  background: #74e698;
}
